<%- include('partials/header') %>
<main class="o-main">
  <% location.forEach((loc) => { %>
  <li>
    <h3><%= loc.cidade %> / <%= loc.sigla %></h3>
    <p><%= loc.bairro %></p>
  </li>
  <hr />
  <% }); %>
</main>
<%- include('partials/footer') %>
